.high-Temperature {
    font-weight: bold;
    opacity: .7;
}

.low-Temperature {
    opacity: .6;
}

.forecast-Temperature {
    font-size: 13px;
}

.forecast-Day {
    font-weight: bold;
    opacity: .6;
}